.h-img{
    height: 55px;
    position: absolute; 
    top: 5px;
    left: 100px;
}
.navbar{
    float: right;
   
}
header{
    box-shadow: 0px 2px 5px #777;
    height:70px;
}
section{
    
    padding: 15px;
    width: 100%;
   
   
}
h6{
   font-size: 20px;
   position: relative;
   margin: 10px;
   text-align: center;
   
}
h6:before{
    content: "";
    width: 120px;
    height: 1px;
    display: block;
    background:red;
    position: absolute;
    top:40%;
    left: 0;
    
}